<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/only_blog.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="navbar__content">
          <div class="navbar__logo">
            <img
              src="../assets/logo/logo.png"
              alt="logo"
              class="navbar__logo__img"
            />
            <h1 class="navbar__logo__name">
              <span>André</span>
              Malraux
            </h1>
          </div>
          <nav>
            <ul class="nav__items show_menu">
              <li><a href="home.html" class="nav__item active">Accueil</a></li>
              <li><a href="blog.html" class="nav__item">Articles</a></li>
              <li><a href="creation.html" class="nav__item">Creation</a></li>
              <li><a href="contact.html" class="nav__item">Contact</a></li>
              <li><a href="login.html" class="nav__item">Compte</a></li>
            </ul>
          </nav>
          <img src="../assets/logo/menu.svg" alt="hamburger" class="menu" />
        </div>
      </div>
      <!-- ________________banner_________________________ -->
      <div class="banner">
        <div class="banner__content">
          <h3>Bienvenue Sur la MalrauxBlog</h3>
        </div>
      </div>
    </header>
    <main>
      <div class="main_row">
        <div class="container">
          <h3 class="group_name">Nos Articles:</h3>
          <div class="articles__content">
            <article>
              <div class="article__extra">
                <div class="extra__text">
                  <p><a href="" class="article__category">Matematique</a></p>
                  <p>12 Dec, 2018</p>
                  <p>1.2M views</p>
                  <p>06 comments</p>
                </div>
                <div class="article__extra__img">
                  <img src="../assets/posts/l-post-3.jpg" alt="post" />
                </div>
              </div>
              <div class="article__text">
                <div class="article__details">
                  <a href="#">
                    <h2>
                      Astronomy Binoculars A Great Alternative Great Alternative
                      Great Alternative
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Similique odit a nulla molestias ad mollitia unde facere
                    ipsum tempore. Tempora!
                  </p>
                  <a href="#" class="btn">Voire</a>
                </div>
              </div>
            </article>
            <!-- col2 -->
            <div class="form_search">
              <form action="search__result.html">
                <input
                  type="search"
                  class="search_input"
                  placeholder="rechercher un ariticle"
                />
              </form>
              <div class="categories">
                <div class="categories__content">
                  <!-- item -->
                  <a href="#" class="category">
                    <div class="category">
                      <div class="category__content">
                        <h4 class="category__title">Mathematiques</h4>
                      </div>
                    </div>
                  </a>
                  <!-- item -->
                  <a href="#" class="category">
                    <div class="category">
                      <div class="category__content">
                        <h4 class="category__title">Mathematiques</h4>
                      </div>
                    </div>
                  </a>
                  <!-- item -->
                  <a href="#" class="category">
                    <div class="category">
                      <div class="category__content">
                        <h4 class="category__title">Mathematiques</h4>
                      </div>
                    </div>
                  </a>
                  <!-- item -->
                  <a href="#" class="category">
                    <div class="category">
                      <div class="category__content">
                        <h4 class="category__title">Mathematiques</h4>
                      </div>
                    </div>
                  </a>
                  <!-- item -->
                  <a href="#" class="category">
                    <div class="category">
                      <div class="category__content">
                        <h4 class="category__title">Mathematiques</h4>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- second row -->
      <div class="row">
        <div class="articles">
          <div class="container">
            <h3 class="group_name">Tous les articles:</h3>
            <div class="author_filter">
              <select name="" id="" class="author_filter__select">
                <option value="">Types d'auteurs</option>
                <option value="">Le Directeur</option>
                <option value="">Educateurs</option>
                <option value="">Profs</option>
                <option value="">Eleves</option>
              </select>
            </div>
            <div class="articles__content">
              <!-- item -->
              <article>
                <div class="article__extra">
                  <div class="extra__text">
                    <p><a href="" class="article__category">Matematique</a></p>
                    <p>12 Dec, 2018</p>
                    <p>1.2M views</p>
                    <p>06 comments</p>
                  </div>
                  <div class="article__extra__img">
                    <img src="../assets/posts/l-post-3.jpg" alt="post" />
                  </div>
                </div>
                <div class="article__text">
                  <div class="article__details">
                    <a href="#">
                      <h2>
                        Astronomy Binoculars A Great Alternative Great
                        Alternative Great Alternative
                      </h2>
                    </a>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Similique odit a nulla molestias ad mollitia unde facere
                      ipsum tempore. Tempora!
                    </p>
                    <a href="#" class="btn">Voire</a>
                  </div>
                </div>
              </article>
              <!-- item -->
              <article>
                <div class="article__extra">
                  <div class="extra__text">
                    <p><a href="" class="article__category">Matematique</a></p>
                    <p>12 Dec, 2018</p>
                    <p>1.2M views</p>
                    <p>06 comments</p>
                  </div>
                  <div class="article__extra__img">
                    <img src="../assets/banner/andre.jpeg" alt="post" />
                  </div>
                </div>
                <div class="article__text">
                  <div class="article__details">
                    <a href="#">
                      <h2>
                        Astronomy Binoculars A Great Alternative Great
                        Alternative Great Alternative
                      </h2>
                    </a>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Similique odit a nulla molestias ad mollitia unde facere
                      ipsum tempore. Tempora!
                    </p>
                    <a href="#" class="btn">Voire</a>
                  </div>
                </div>
              </article>
              <!-- item -->
              <article>
                <div class="article__extra">
                  <div class="extra__text">
                    <p><a href="" class="article__category">Matematique</a></p>
                    <p>12 Dec, 2018</p>
                    <p>1.2M views</p>
                    <p>06 comments</p>
                  </div>
                  <div class="article__extra__img">
                    <img src="../assets/posts/m-blog-2.jpg" alt="post" />
                  </div>
                </div>
                <div class="article__text">
                  <div class="article__details">
                    <a href="#">
                      <h2>
                        Astronomy Binoculars A Great Alternative Great
                        Alternative Great Alternative
                      </h2>
                    </a>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Similique odit a nulla molestias ad mollitia unde facere
                      ipsum tempore. Tempora!
                    </p>
                    <a href="#" class="btn">Voire</a>
                  </div>
                </div>
              </article>
              <!-- item -->
              <article>
                <div class="article__extra">
                  <div class="extra__text">
                    <p><a href="" class="article__category">Matematique</a></p>
                    <p>12 Dec, 2018</p>
                    <p>1.2M views</p>
                    <p>06 comments</p>
                  </div>
                  <div class="article__extra__img">
                    <img src="../assets/posts/m-blog-1.jpg" alt="post" />
                  </div>
                </div>
                <div class="article__text">
                  <div class="article__details">
                    <a href="#">
                      <h2>
                        Astronomy Binoculars A Great Alternative Great
                        Alternative Great Alternative
                      </h2>
                    </a>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Similique odit a nulla molestias ad mollitia unde facere
                      ipsum tempore. Tempora!
                    </p>
                    <a href="#" class="btn">Voire</a>
                  </div>
                </div>
              </article>
              <!-- item -->
              <article>
                <div class="article__extra">
                  <div class="extra__text">
                    <p><a href="" class="article__category">Matematique</a></p>
                    <p>12 Dec, 2018</p>
                    <p>1.2M views</p>
                    <p>06 comments</p>
                  </div>
                  <div class="article__extra__img">
                    <img src="../assets/posts/m-blog-3.jpg" alt="post" />
                  </div>
                </div>
                <div class="article__text">
                  <div class="article__details">
                    <a href="#">
                      <h2>
                        Astronomy Binoculars A Great Alternative Great
                        Alternative Great Alternative
                      </h2>
                    </a>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Similique odit a nulla molestias ad mollitia unde facere
                      ipsum tempore. Tempora!
                    </p>
                    <a href="#" class="btn">Voire</a>
                  </div>
                </div>
              </article>
            </div>
            <div class="pagination">
              <ul class="pagination__items">
                <a href="#" class="pagination__item"><</a>
                <a href="#" class="pagination__item active">01</a>
                <a href="#" class="pagination__item">02</a>
                <a href="#" class="pagination__item">03</a>
                <a href="#" class="pagination__item">04</a>
                <a href="#" class="pagination__item">></a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ______________________________Footer__________________________________ -->
    <footer>
      <div class="container">
        <!--  -->
        <div class="footer">
          <div class="col-1 col">
            <h3>Ecole André Malraux</h3>
            <p>
              <span>Locatlisation:</span>
              Route d'Attoban, à 100 m du rond point
              <br />
              - Riviéra 2. Cocody - 22 BP 286 Abidjan 22. Abidjan -
            </p>
            <p>
              <span>Contact:</span>
              (+225) 27 22 43 21 60. Fax : (+225) 22 43 12 68.
            </p>
          </div>
          <!--  -->
          <div class="col-2 col">
            <h3>Contact du Developpeur</h3>
            <p>
              <span>Email:</span>
              yveshouedandedocteur@gmail.com
            </p>
            <p>
              <span>Numero:</span>
              +225 85-98-76-52
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- scripts -->
    <script src="../js/main.js"></script>
  </body>
</html>
