<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/only_blog.css" />
    <link rel="stylesheet" href="../css/post.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="navbar__content">
          <div class="navbar__logo">
            <img
              src="../assets/logo/logo.png"
              alt="logo"
              class="navbar__logo__img"
            />
            <h1 class="navbar__logo__name">
              <span>André</span>
              Malraux
            </h1>
          </div>
          <nav>
            <ul class="nav__items show_menu">
              <li><a href="home.html" class="nav__item">Accueil</a></li>
              <li><a href="blog.html" class="nav__item">Articles</a></li>
              <li><a href="creation.html" class="nav__item">Creation</a></li>
              <li><a href="contact.html" class="nav__item">Contact</a></li>
              <li><a href="login.html" class="nav__item">Compte</a></li>
            </ul>
          </nav>
          <img src="../assets/logo/menu.svg" alt="hamburger" class="menu" />
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="post__container">
          <div class="post">
            <h2 class="post__title">
              Astronomy Binoculars A Great Alternative
            </h2>
            <div class="post__content">
              <img src="../assets/banner/andre.jpeg" alt="" />
              <img src="../assets/banner/andre.jpeg" alt="" />
              <img src="../assets/banner/andre.jpeg" alt="" />
            </div>
          </div>
          <aside>
            <div class="relative_articles">
              <h2>Articles Populaire</h2>
              <div class="relatives_articles__items">
                <a href="#">
                  <div class="article">
                    <img src="../assets/posts/l-post-1.jpg" alt="" />
                    <div class="description">
                      <h3>
                        Astronomy Binoculars A Great Alternative
                      </h3>
                      <p>22, dec 2021</p>
                    </div>
                  </div>
                </a>
                <!-- item -->
                <a href="#">
                  <div class="article">
                    <img src="../assets/posts/l-post-1.jpg" alt="" />
                    <div class="description">
                      <h3>
                        Astronomy Binoculars A Great Alternative
                      </h3>
                      <p>22, dec 2021</p>
                    </div>
                  </div>
                </a>
                <!-- item -->
                <a href="#">
                  <div class="article">
                    <img src="../assets/posts/l-post-1.jpg" alt="" />
                    <div class="description">
                      <h3>
                        Astronomy Binoculars A Great Alternative
                      </h3>
                      <p>22, dec 2021</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="categories">
              <div class="form_search">
                <form action="search__result.html">
                  <input
                    type="search"
                    class="search_input"
                    placeholder="rechercher un ariticle"
                  />
                </form>
                <div class="categories">
                  <div class="categories__content">
                    <!-- item -->
                    <a href="#" class="category">
                      <div class="category">
                        <div class="category__content">
                          <h4 class="category__title">Mathematiques</h4>
                        </div>
                      </div>
                    </a>
                    <!-- item -->
                    <a href="#" class="category">
                      <div class="category">
                        <div class="category__content">
                          <h4 class="category__title">Mathematiques</h4>
                        </div>
                      </div>
                    </a>
                    <!-- item -->
                    <a href="#" class="category">
                      <div class="category">
                        <div class="category__content">
                          <h4 class="category__title">Mathematiques</h4>
                        </div>
                      </div>
                    </a>
                    <!-- item -->
                    <a href="#" class="category">
                      <div class="category">
                        <div class="category__content">
                          <h4 class="category__title">Mathematiques</h4>
                        </div>
                      </div>
                    </a>
                    <!-- item -->
                    <a href="#" class="category">
                      <div class="category">
                        <div class="category__content">
                          <h4 class="category__title">Mathematiques</h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <!--  -->
        <div class="footer">
          <div class="col-1 col">
            <h3>Ecole André Malraux</h3>
            <p>
              <span>Locatlisation:</span>
              Route d'Attoban, à 100 m du rond point
              <br />
              - Riviéra 2. Cocody - 22 BP 286 Abidjan 22. Abidjan -
            </p>
            <p>
              <span>Contact:</span>
              (+225) 27 22 43 21 60. Fax : (+225) 22 43 12 68.
            </p>
          </div>
          <!--  -->
          <div class="col-2 col">
            <h3>Contact du Developpeur</h3>
            <p>
              <span>Email:</span>
              yveshouedandedocteur@gmail.com
            </p>
            <p>
              <span>Numero:</span>
              +225 85-98-76-52
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="../js/main.js"></script>
  </body>
</html>
